{% set lookup_table = {
    'Debian': {
        'pkg': 'python3',
    },
    'RedHat': {
        'pkg': 'python3',
    },
    'CentOS-6': {
        'pkg': 'Django14',
    },
} %}

{# Use osfinger to do the lookup and fall back to os_family #}
{% set django = salt['grains.filter_by'](lookup_table,
    merge=salt['pillar.get']('django:lookup')) %}
